.header {
    position: relative;
    z-index: 110;
    background-color: #FFB300;
}

.headerMain {
    width: 100%;
    position: absolute;
    background-color: transparent;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB300;
}

.contentMain {
    justify-content: flex-end;
    background-color: transparent;
}